body {
    margin-top: 90px;
    background-color: rgb(117, 114, 114)
}
header {
    background-color: #333;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 99;
}
header *{
    display: inline;
}
header ul {
    position: sticky;
    font-family: sans-serif;
}
header li {
    padding: 20px;
}
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 16px;
}
li a:hover:not(.active) {
    color: rgb(25, 109, 139);
}
.active {
    font-size: 32px;
    color: rgb(0, 173, 241);
}
/* Everything above this comment should remain the same */

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif
}

#WD {
    display: block
}

.inner_div {
    padding: 0px;
}

#WD-Logo {
    transform: scale(.8);
}

#position {
    color: white;
    font-size: 20px;
}

#date {
    color: white;
    font-size: 16px;
}

#hard-skills {
    color: white;
    font-size: 14px;
}

#soft-skills {
    color: white;
    font-size: 14px;
}

#description {
    color: white;
    font-size: 14px;
}

div ul {
    font-family: sans-serif;
    color: white;
}