body {
    margin-top: 90px;
    background-color: rgb(117, 114, 114);
}
header {
    background-color: rgb(51, 51, 51);
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 99;
}
header *{
    display: inline;
}
header ul {
    position: -webkit-sticky;
    font-family: sans-serif;
}
header li {
    padding: 20px;
}
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 16px;
}
li a:hover:not(.active) {
    color: rgb(25, 109, 139);
}
.active {
    font-size: 24px;
    color: rgb(0, 173, 241);
}
/* Everything above this comment should remain the same */

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#bio {
    display: flex;
    flex: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(48, 48, 47);
}

.inner_div {
    padding: 10px;
}

#photo {
    transform: scale(.8);
}

#name {
    color: white;
    font-size: 32px;
}

#title {
    font-size: 20px;
    color: white;
}

#info {
    font-size: 16px;
    color: white;
}